{% extends "base.html" %} 

{% block style%}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<style>
    .note-editable {
        background-color: white !important;
        color: black !important;
    }
</style>

{% endblock %}
{% block content %}

    <form class="h-100 row align-items-center mx-5 mt-3 mb-5" method = "POST" enctype="multipart/form-data">
        <div class="form-group">
            <div>
                <h3 class="mb-3">Event Title:</h3>
                <input class="form-control" id="titleForm" name = "event_title" placeholder="Event Title">
            </div>

            <div>
                <h3 class="mb-3">Event Type:</h3>
                <input class="form-control" id="titleForm" name = "event_type" placeholder="Type of Event">
            </div>

            <div>
                <h3 class="my-3">Location:</h3>
                <input class="form-control" id="locationForm" name = "event_location" placeholder="Location">
            </div>
            <div>
                <h3 class="my-3">Date:</h3>
                <input class="form-control" id="dateForm" name = "event_date" placeholder="DD/MM/YYYY">
            </div>
            <div>
                <h3 class="my-3">Time:</h3>
                <input class="form-control" id="time" name = "event_time" placeholder="Hour:Minutes(Use 24hrs. If event takes place before 10AM, input 0 before first digit(09:00 for example)) ">
            </div>
            <div>
                <h3 class="my-3">Hours:</h3>
                <input class="form-control" id="hoursForm" name = "event_hours" placeholder="Number ONLY (ex. 1 or 0.5)">
            </div>
            <div class="form-check mt-3 mx-3">
                <input class="form-check-input" name = "customhours" type="checkbox" value="true" id="changingHours" onClick="customHours(this)">
                <label class="form-check-label" for="flexCheckDefault">Custom Hours</label>

                <script>
                    customHours = function (val) {
                        var hours = document.getElementById("hoursForm");

                        if (val.checked == true) {
                            hours.disabled = true;
                        } else {
                            hours.disabled = false;
                        }
                    }
                </script>
            </div>
            <div>
                <h3 class="my-3">Spots Available:</h3>
                <input class="form-control" id="spotsForm" name = "spots_available" placeholder="Positive Integers ONLY">
            </div>
            <div class="form-check mt-3 mx-3">
                <input class="form-check-input" type="checkbox"  name = "nullspots" value="true" id="spot_na" onClick="recurring(this)">
                <label class="form-check-label" for="flexCheckDefault">N/a</label>

                <script>
                    recurring = function (val) {
                        var spot = document.getElementById("spotsForm");

                        if (val.checked == true) {
                            spot.disabled = true;
                        } else {
                            spot.disabled = false;
                        }
                    }
                </script>
            </div>
        </div>
        <div class="form-group">
            <h3 class="my-3">Description:</h3>
            <textarea class="form-control" id="summernote" name = "event_info" style="background-color: white !important;"></textarea>
        </div>
        <div class="form-group my-3">
            <h3>File Upload</h3>
            <input type="file" class="form-control-file" id="event_file" name="event_file">
        </div>




    <div class="row mx-5 mb-5">
        <div class="col-12 align-self-center text-center">
            <button type="button" class="btn btn-primary mb-2 px-3" data-bs-toggle="modal"
                data-bs-target="#createConfirmModal" style="width:90%;">Create Event</button>

            <div class="modal fade" id="createConfirmModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Event Confirmation</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to create this event?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Event</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> 




    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script>
        $('#summernote').summernote({
            minHeight: 300,
            maxHeight: null,
            placeholder: 'Description (it is advisable to copy and paste from a word processor, as you cannot save)',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['fontname', 'fontsize', 'fontsizeunit', 'bold', 'italic', 'strikethrough', 'superscript', 'subscript', 'underline', 'clear',]],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video',]],
                ['view', ['codeview', 'undo', 'redo', 'help']],
            ]
        });
    </script>


{% endblock %}