{% extends "base.html" %} 

{% block content %}

      <div class = "container">
         <div class ="row my-5">    
           <div class="col-3">
           </div>

           <div class = "col-6">
             <form method = "POST">
               <h3 allign = "center"> Forgot Password</h3>
               <div class = "form-group">
                 <label for = "student_id"> Student ID </label>
                  <input type="username" class="form-control" id="student_id", name = "student_id", placeholder = "Please Enter Student ID">
                  </div>

               <div class = "form-group">
                 <label for = "email"> Email </label>
                  <input type="email" class="form-control" id="email", name = "email", placeholder = "Please enter Email">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Reset Password</button>
                  <a href = "/logins">
                    <button type = "button" class = "btn btn-primary"> Return </button>
                  </a>
                  </form>
                  
               <div method = "post" class="col-12 my-3" style="position:absolute; bottom:1;">
   
  

              




          
             
            </div>
            </div>
            </div>

{% endblock %}

