{% extends "base.html" %} 

{% block content %}

<div class ="mx-3 my-3" style="overflow:scroll">    

<div class="container-fluid">



  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-success rounded box-shadow" style="background-color: #DFF6DF;">
      <img class="mr-5" src="/static/keyclublogo.png" alt="" width="70" height="70">
      <div class="lh-100 ml-5">
        <h6 class="mb-0 text-white lh-100 mx-3">{{current_user.first_name + "   " + current_user.last_name}}</h6>
        <small class="mx-3">
          {% if current_user.boardMember == true %}
          Member Type: Board

           {% else %}

          Member Type: Regular

           {% endif %}
        </small>
      </div>
    </div>





    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h3 class="border-bottom border-gray pb-2 mb-0">Profile</h3>
      <div class="media pt-3">
        <p><u><span style="font-weight:bold;">E-Mail:</span></u> {{current_user.email}}</p>
        <p class="my-3"><u><span style="font-weight:bold;">Total Volunteer Hours:</span></u></p>
        <p class="my-3"><u><span style="font-weight:bold;">Total Volunteer Hours This Year:</span></u> {{current_user.current_hours}}</p>
        <p class="my-3"><u><span style="font-weight:bold;">Pending Hours:</span></u> {{current_user.pending_hours}} </p>
        <p class="my-3"><u><span style="font-weight:bold;">Years Active:</span></u> </p>

        {% if current_user.verifiedMember == true %}
        <p class="my-3"><u><span style="font-weight:bold;"> Verified:</span></u> Yes</p>
        {% else %}
        <p class="my-3"><u><span style="font-weight:bold;"> Verified:</span></u> No</p>
        {% endif %}
        {% if current_user.inductedMember == true %}
        <p class="my-3"><u><span style="font-weight:bold;"> Induction Status:</span></u>  Inducted </p>
        {% else %}
        <p class="my-3"><u><span style="font-weight:bold;"> Induction Status:</span></u> Not Inducted </p>
        {% endif %}
    </div>
    </div>

    

    <div class="my-3 p-3 bg-white rounded box-shadow" style="padding-left: 0;">
      <div class ="row container-fluid" style="margin:0; padding:0;">
        <div class="col-10" style="margin:0;padding:0;">
      <h3 class="border-bottom border-gray pb-2 mb-0">Announcements:</h3>
          </div>
          <div class="col-2 my-1">
      <form method = "POST" class="dropdown mr-5">
      {{ form.csrf_token }}
      {{ form.opts(class="form-select form-select-sm", **{"onchange":"this.form.submit()"}) }}
      </form>
      </div>
      </div>
      <div class="media text-muted pt-3">

 

   {% if current_announcement != None %}

    <h5 class="mx-3 my-3 d-flex justify-content-center"> {{ current_announcement.announcement_title }} ({{current_announcement.announcement_date_time.month}}/{{current_announcement.announcement_date_time.day}}/{{current_announcement.announcement_date_time.year}})</h5>

    <div class = "mx-5 my-1 ">
      {{"  " + current_announcement.announcement |safe}}
        </div>
        {% if current_announcement.file_name|length != 0 %}

        <a href="/download/{{ current_announcement.file_name }}"><button class="btn button btn-primary mx-5 my-5">Download File</button></a>
    
        {% endif %}
    
    {% endif %}

    </div>
 </div>


 <div class="my-3 p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-0">Past Events</h3>
  <div class="media pt-3">




{%set pastev = {1:"january", 2:"feburary", 3:"march", 4:"april", 5:"may", 6:"june",
7:"july", 8:"august", 9:"september", 10:"october", 11:"november", 12: "december"}
%}

<ul class="nav nav-tabs" id="myTab" role="tablist">

  {% for x in range(1,13) %}
  
  <li class="nav-item" role="presentation">
    <button class="nav-link {% if loop.index == 1 %} active {% endif %}" id="{{pastev[x]}}-tab" data-bs-toggle="tab" data-bs-target="#{{pastev[x]}}" type="button" role="tab" aria-controls="{{pastev[x]}}" aria-selected="true">{{pastev[x]}}</button>
  </li>

  {% endfor %}
</ul>




<div class="tab-content" id="myTabContent">
  {% for x in range(1,13) %}


  <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="{{pastev[x]}}" role="tabpanel" aria-labelledby="{{pastev[x]}}" style="overflow:scroll">

<table class="table table-striped my-1">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Hyperlink</th>
      <th scope="col">Status</th>
      <th scope="col">Comments</th>
      <th scope="col">Hours</th>
      <th scope="col">Hours Given</th>

    </tr>
  </thead>
  <tbody>
    {% for past in pastevents[x] %}

    <tr>
      <th scope="row"> {{past.event.event_name}}  </th>
      <td scope="row"> {{past.event.event_type}}  </td>

      <td>{{past.event.event_time.month}}/{{past.event.event_time.day}}/{{past.event.event_time.year}}</td>
      <td>
<button type="button" class="btn btn-primary" style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#Target{{past.idreg}}">More Info</button>
<td>{{past.status}}</td>
<td>{{past.comments |safe}}</td>

<td>{{past.event.event_hours}}</td>

<td> {{past.hours_given}}</td>

{% endfor %}
      
{% for past in pastevents[x] %}
<div class="modal fade" id="Target{{past.idreg}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{past.event.event_name}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><u><span style="font-weight:bold; ">Location:</span></u> {{past.event.event_location}}</p>
        <br>
        <p><u><span style="font-weight:bold; ">Date:</span></u> {{past.event.event_time.month}}/{{past.event.event_time.day}}/{{past.event.event_time.year}} </p>
        <br>
        <p><u><span style="font-weight:bold; ">Description:</span></u></p>
        {{past.event.more_info |safe}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">N/a</button>
      </div>
    </div>
  </div>
</div> 

{% endfor %}

      </td>

    </tr>
    </tr>
  </tbody>
</table>    


</div>

{% endfor %}



</div>
        

  </div>
</div>







<div class="my-3 p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-0">Current Events</h3>
  <div class="media pt-3">


<table class = "table table-striped my-3">
  <thead>
    <tr>
      <th scope = "col"> Event </th>
      <th scope = "col"> Date  </th>
      <th scope = "col"> Hyperlink </th>
      <th scope = "status"> Status </th>
      <th scope = "hours"> Hours </th>

      <tbody>

     {% for register2 in registered %}   
    <tr>
      <th scope="row"> {{register2.event.event_name}} </th>
      <td> {{register2.event.event_time.month}}/{{register2.event.event_time.day}}/{{register2.event.event_time.year}}</td>
      <td><button type="button" class="btn btn-primary" style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"  data-bs-toggle="modal" data-bs-target="#Event{{register2.event.event_id}}">More Info</button>
      <td>{{register2.status}}</td>
      <td>{{register2.event.event_hours}}</td>
      
    {% endfor %}    

    {% for register2 in registered %}
<div class="modal fade" id="Event{{register2.event.event_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{register2.event.event_name}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><u><span style="font-weight:bold; ">Location:</span></u> {{register2.event.event_location}} </p>
        <br>
        <p><u><span style="font-weight:bold; ">Date:</span></u>  {{register2.event.event_time.month}}/{{register2.event.event_time.day}}/{{register2.event.event_time.year}} </p>
        <br>
        <p><u><span style="font-weight:bold; ">Description:</span></u>
</p>

                 {{register2.event.more_info |safe}}
      </div>
      <div class="modal-footer">
        <form method = "POST">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name = "reg" value = "unregister/{{register2.event.event_id}}" class="btn btn-primary">Unregister</button>
      </form>
      </div>
    </div>
  </div>
</div>  

{% endfor %}

      
      </td>
     
    </tr>
  </tbody>
</table>    

    

</div>
</div>








{% if current_user.boardMember %}

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-0">Past Actions</h3>
  <div class="media pt-3">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for x in range(1,13) %}
  
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if loop.index == 1 %} active {% endif %}" id="{{pastev[x]}}1-tab" data-bs-toggle="tab" data-bs-target="#{{pastev[x]}}1" type="button" role="tab" aria-controls="{{pastev[x]}}1" aria-selected="true">{{pastev[x]}}</button>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="myTabContent">

    {% for x in range(1,13) %}

      <div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="{{pastev[x]}}1" role="tabpanel" aria-labelledby="{{pastev[x]}}1" style="overflow:scroll">

      <table class="table table-striped my-1">
        <thead>
          <tr>
            <th>Month</th>
            <th>First</th>
            <th>Last</th>
            <th scope="col">Event</th>
            <th scope="col">Date</th>
            <th scope="col">Hyperlink</th>
            <th scope="col">Status</th>
            <th scope="col">Hours</th>
            <th scope="col">Comments</th>
            <th scope="col">Decision Made By</th>
            <th scope="col">Undo</th>
          </tr>
        </thead>
        <tbody>

          {% for decision in past_decisions[x] %}


          <tr>
            <th scope="row"> {{decision.student.student_id}}</th>
            <td>{{decision.student.first_name}}</td>
            <td>{{decision.student.last_name}}</td>
            <td>{{decision.event.event_name}}</td>
            <td>{{decision.event.event_time.month}}/{{decision.event.event_time.day}}/{{decision.event.event_time.year}}</td>
            <td>
              <button type="button" class="btn btn-primary"
                style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"
                data-bs-toggle="modal" data-bs-target="#decision{{decision.idreg}}1">More Info</button>
            {% if decision.status == "Accepted" %}

            <td style="color:green;">Approved</td>

            {% else %}

            <td style="color:red;">Denied</td>

            {% endif %}

            <td>{{decision.event.event_hours}} hours</td>
            <td> {{decision.comments}}</td>
            <td> {{decision.decision_student}}</td>
            <form method = "POST">
              <td> <button type="submit" class="btn btn-primary" name = "undo" value = "{{decision.idreg}}"
              style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;">
              Undo </button> </td>
            </form>

            {% endfor %}

            {% for decision in past_decisions[x] %}

              <div class="modal fade" id="decision{{decision.idreg}}1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{decision.event.event_name}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      </button>
                    </div>
                    <div class="modal-body">
                      <p><u><span style="font-weight:bold; ">Location:</span></u> {{decision.event.event_location}}</p>
                      <br>
                      <p><u><span style="font-weight:bold; ">Date:</span></u> {{decision.event.event_time.month}}/{{decision.event.event_time.day}}/{{decision.event.event_time.year}}</p>
                      <br>
                      <p><u><span style="font-weight:bold; ">Description:</span></u></p>
                              {{decision.event.more_info |safe}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">N/a</button>
                    </div>
                  </div>
                </div>
              </div>


            {% endfor %}
            </td>
            
          </tr>
         
        </tbody>
      </table>

    </div>
    {% endfor %}

  </div>
</div>
</div>

{% endif %}

</div>
</div>
{% endblock %}


