
{% extends "base.html" %} 




{% block content %}

    <div class="container-fluid my-3" style="overflow: scroll">
        <h1>Event Approval:</h1>
        <hr style="color: grey">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                    <th scope="col">Hours</th>
                    <th scope="col">People Registered</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>

            <tbody>
                {% for ev in events %}
                <tr>
                    <th scope="row"> {{ev.event_name}}</th>
                    <td>{{ev.event_time.month}}/{{ev.event_time.day}}/{{ev.event_time.year}}</td>
                    <td><button type="button" class="btn btn-primary"
                            style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"
                            data-bs-toggle="modal" data-bs-target="#k{{ev.event_id}}">More Info</button> 
                    <td>{{ev.event_hours}} Hours</td>
                    <td>{{ev.event_registered |length}} Registered</td>

                    <form method = "POST">
                   <td><button class="btn btn-primary" type = "submit" name = "reviewbutton" value = "{{ev.event_id}}" style="text-align:center;">Review</button></td> 
                    </form>

                {% endfor %}

                {% for ev in events %}


                        <div class="modal fade" id="k{{ev.event_id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ev.event_name}}</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><u><span style="font-weight:bold; ">Location:</span></u> {{ev.event_location}}</p>
                                        <br>
                                        <p><u><span style="font-weight:bold; ">Date:</span></u>{{ev.event_time.month}}/{{ev.event_time.day}}/{{ev.event_time.year}}</p>
                                        <br>
                                        <p><u><span style="font-weight:bold; ">Time:</span></u> {{ev.event_time.hour}}:{{ev.event_time.minute}}</p>
                                        <br>
                                        <p><u><span style="font-weight:bold; ">Description:</span></u> </p>

                                        {{ev.more_info |safe}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">N/a</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                
                {% endfor %}

                </tr>
                
            </tbody>
        </table>

    </div>

    {% endblock %}