<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Reset Password</title>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery-3.6.0.min.js"></script>


    </head>
    <body style="background-color:#F5F5F5; overflow-x:hidden"> 


      {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
          {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              
              {{message}}
    
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
             </div>
            {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              
              {{message}}
              
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>

            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
          
      <div class = "container">
         <div class ="row my-5">    
           <div class="col-3">
           </div>

           <div class = "col-6">
             <form method = "POST">
               <h3 allign = "center"> Reset Password</h3>
               <div class = "form-group">
                 <label for = "newpass"> New Password </label>
                  <input type="password" class="form-control" id="newpass", name = "newpass", placeholder = "Please Enter New Password">
                  </div>

               <div class = "form-group">
                 <label for = "pass"> Confirm Password </label>
                  <input type="password" class="form-control" id="pass", name = "pass", placeholder = "Please Retype New Password">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Reset Password</button>
                  </form>
                  
               <div method = "post" class="col-12 my-3" style="position:absolute; bottom:1;">
   
  

              




          
             
            </div>
            </div>
            </div>


</body>
</html>