
{% extends "base.html" %} 




{% block content %}

    <div class="container-fluid my-3" style="overflow: scroll">
        <h1>Event Approval:</h1>
        <hr style="color: grey">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                    <th scope="col">Hours</th>
                    <th scope="col">People Registered</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>

            <tbody>
                {% for ev in events %}
                <tr>
                    <th scope="row"> {{ev.event_name}}</th>
                    <td>{{ev.event_time.month}}/{{ev.event_time.day}}/{{ev.event_time.year}}</td>
                    <td><button type="button" class="btn btn-primary"
                            style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"
                            data-bs-toggle="modal" data-bs-target="#k{{ev.event_id}}">More Info</button> 
                    <td>{{ev.event_hours}} Hours</td>
                    <td>{{ev.event_registered |length}} Registered</td>

                    <form method = "POST">
                   <td><button class="btn btn-primary" type = "submit" name = "reviewbutton" value = "{{ev.event_id}}" style="text-align:center;">Review</button></td> 
                    </form>

                {% endfor %}

                {% for ev in events %}


                        <div class="modal fade" id="k{{ev.event_id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ev.event_name}}</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><u><span style="font-weight:bold; ">Location:</span></u> {{ev.event_location}}</p>
                                        <br>
                                        <p><u><span style="font-weight:bold; ">Date:</span></u>{{ev.event_time.month}}/{{ev.event_time.day}}/{{ev.event_time.year}}</p>
                                        <br>
                                        <p><u><span style="font-weight:bold; ">Description:</span></u> </p>

                                        {{ev.more_info |safe}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">N/a</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                
                {% endfor %}

                </tr>
                
            </tbody>
        </table>

    </div>

    <div class="container-fluid mb-3 mt-5" style="overflow: scroll">
        <h1>User Verification:</h1>
        <hr style="color: grey">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Approve</th>
                <th scope="col">Deny</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">123456</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mark.otto@lps-students.org</td>
                <td><button type="button" class="btn btn-success">Approve</button></td>
                <td><button type="button" class="btn btn-danger" id="Deny1" data-bs-toggle="modal" data-bs-target="#Deny1Modal">Deny</button>
                
                    <div class="modal fade" id="Deny1Modal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deny Confirmation</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to Deny this user?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger">Deny</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </td>
              </tr>
              <tr>
                <th scope="row">234567</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>jacob.thornton@lps-students.org</td>
                <td><button type="button" class="btn btn-success">Approve</button></td>
                <td><button type="button" class="btn btn-danger" id="Deny2" data-bs-toggle="modal" data-bs-target="#Deny2Modal">Deny</button>
                
                    <div class="modal fade" id="Deny2Modal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deny Confirmation </h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to Deny this user?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger">Deny</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </td>
              </tr>
              <tr>
                <th scope="row">345678</th>
                <td>Larry</td>
                <td>Bird</td>
                <td>larry.bird@lps-students.org</td>
                <td><button type="button" class="btn btn-success">Approve</button></td>
                <td><button type="button" class="btn btn-danger" id="Deny3" data-bs-toggle="modal" data-bs-target="#Deny3Modal">Deny</button>
                
                    <div class="modal fade" id="Deny3Modal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Deny Confirmation</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to Deny this user?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger">Deny</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </td>
              </tr>
            </tbody>
          </table>



        </div>

    {% endblock %}