{% extends "base.html" %} 

{% block content %}

  <div class="container-fluid my-3" style="overflow: scroll">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Event</th>
          <th scope="col">Date</th>
          <th scope="col">Details</th>
          <th scope="col">Hours</th>
          <th scope="col">Status</th>
          <th scope="col">Sign-Up</th>
        </tr>
      </thead>

      <tbody>
        {% for event3 in events %}
        <tr>
        <form method = "POST">
        <th scope="row"> {{event3.event_name}}</th>
        <td>{{event3.event_time.month}}/{{event3.event_time.day}}/{{event3.event_time.year}}</td>
        <td><button type="button" class="btn btn-primary"
            style="background: none!important; border: none; padding: 0!important;color: #069; text-decoration: underline; cursor: pointer;"
            data-bs-toggle="modal" data-bs-target="#kiwanisModal{{ event3.event_id }}">More Info</button>
            <td>{{event3.event_hours}} Hours</td>
            {% if event3.spots_available is not none %}
            <td>{{event3.spots_available}} Spots Left</td>
            {% else %}
            <td>Not Applicable</td>
            {% endif %}

            {% if event3.spots_available == 0 %}

               <td><button type="button" class="btn btn-secondary" disabled> Register</button></td>


            {% elif statuses[loop.index0] %} 

              
                <td><button type="submit" name = "register_button" value = "unregister/{{event3.event_id}}" class="btn btn-primary" style="text-align:center;">Unregister</button></td>


            {% else %}

            <td><button type="submit" name = "register_button" value = "register/{{event3.event_id}}" class="btn btn-primary" style="text-align:center;">Register</button></td>

            {% endif %}
            

</form>
      {% endfor %}


    
       {% for event3 in events %}
          <div class="modal fade" id="kiwanisModal{{ event3.event_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{event3.event_name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">
                  <p><u><span style="font-weight:bold; ">Location:</span></u> {{event3.event_location}} 
                  </p>
                  <br>
                  <p><u><span style="font-weight:bold; ">Date:</span></u> {{event3.event_time.month}}/{{event3.event_time.day}}/{{event3.event_time.year}}</p>
                  <br>
                  <p><u><span style="font-weight:bold; ">Description:</span></u></p>
                  {{event3.more_info |safe}}

                  {% if event3.event_filename|length != 0 %}

                  <a href="/download/{{ event3.event_filename }}"><button class="button btn-primary mx-5 my-1">Download File</button></a>
              
                  {% endif %}


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">N/a</button>
                </div>
              </div>
            </div>
          </div>
        </td>


      </tr>

      {% endfor %}

</div>

{% endblock %}



  


